@import "tailwindcss";

/* TODO: un-comment this when implementing toggle functionality */
/* @custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *)); */

@theme {
  --default-font-family: 'Inria Serif';
}

html {

  @apply text-slate-700 dark:text-slate-200;
  @apply bg-slate-200 dark:bg-[#141c2b];
  @apply min-h-full;
}

ol,
ul {
  @apply pl-6
}

ol {
  @apply list-decimal;
}

ul {
  @apply list-disc;
}

.blog-post {
  @apply text-slate-800 dark:text-slate-200;
  @apply text-lg sm:text-xl;
  @apply leading-8;

  * {
    @apply mb-6;
  }

  li {
    @apply mb-2;
  }

  sup a {
    @apply p-[2px] hover:decoration-solid underline-offset-2;
    width: 0.75rem;
    height: 0.75rem;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply text-slate-700 dark:text-slate-200;
    @apply font-bold mb-2;
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  pre {
    @apply p-4 rounded;
    @apply text-base;
    @apply overflow-x-scroll;
  }

  a {
    @apply underline underline-offset-4 hover:decoration-dotted;
  }

  img {
    @apply my-4 rounded-sm;
  }

}

nav.pagy {
  @apply flex justify-between pt-4;

  a {
    @apply px-3 py-1;

  }

  .current {
    @apply text-slate-200 bg-slate-500;
    @apply rounded-sm;
  }

  :not(.current) & :not([aria-disabled="true"]) {
    @apply hover:bg-slate-300 dark:hover:bg-slate-600;
    @apply rounded-sm;
  }

  :last-of-type {
    @apply mr-0;
  }
}

.footnotes {
  @apply border-t pt-8 mt-8 border-slate-300 dark:border-slate-600;
  @apply text-base text-slate-600 dark:text-slate-400;
}
