@import "tailwindcss";

.social-link.icon {
  @apply hover:text-slate-600 dark:hover:text-slate-400;
  @apply transition-colors;
  @apply h-5 w-5 sm:h-6 sm:w-6;
}

.link {
  @apply underline decoration-dotted underline-offset-4 hover:decoration-solid;
}

ol,
ul {
  @apply pl-6
}

ol {
  @apply list-decimal;
}

ul {
  @apply list-disc;
}

.blog-post {
  @apply text-slate-800 dark:text-slate-200;
  @apply text-lg;
  @apply leading-8;

  * {
    @apply mb-6;
  }

  li {
    @apply mb-2;
  }

  sup a {
    @apply p-[2px] hover:decoration-solid underline-offset-2;
    width: 0.75rem;
    height: 0.75rem;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply text-slate-700 dark:text-slate-200;
    @apply font-bold mb-2;
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  pre {
    @apply p-4 rounded;
    @apply text-base;
    @apply overflow-x-scroll;
  }

  a {
    @apply underline decoration-dotted underline-offset-4 hover:decoration-solid;
  }

  img {
    @apply my-4 rounded-sm;
  }

}

nav.pagy {
  @apply flex justify-between pt-4;

  a {
    @apply px-3 py-1;

  }

  .current {
    @apply text-slate-200 bg-slate-500;
    @apply rounded-sm;
  }

  :not(.current) & :not([aria-disabled="true"]) {
    @apply hover:bg-slate-300 dark:hover:bg-slate-600;
    @apply rounded-sm;
  }

  :last-of-type {
    @apply mr-0;
  }
}

.footnotes {
  @apply border-t pt-8 mt-8 border-slate-300 dark:border-slate-600;
  @apply text-base text-slate-600 dark:text-slate-400;
}
